.h3-helper {
    display: block;
    background-color: #fff;
    height: 5rem;
    color: #a26059;
    text-align: center;
    // vertical-align: center;
    padding-top: 1rem;
    font-size: 2.6rem;
    margin-bottom: 2.5rem;
    font-family: roboto;
    box-shadow: 0 5px 6px -4px #000;
}