<div class="wrapperMain">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Dashboard</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="about">Users</a></li>
                <li><a routerLink="about">About</a></li>
                <li><a routerLink="services">Services</a></li>
                <li><a routerLink="gallery">Gallery</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row wrapper">
            <div class="col s12 wrapper__main">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>