.footer {
    font-family: $font-family1;
    &--icons {
        position: absolute;
        bottom: 1rem;
        left: 29%;
    }
    &__icon {
        width: 2rem;
        height: 2rem;
        fill: #fff;
        margin-right: 1rem;
    }
    &__copyright {
        font-size: 1.6rem;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}