section.sidebar {
    grid-column: 1;
    // background-color: brown;
    // background-image: linear-gradient(to bottom, rgba($color-secondary, .7) 10%, rgba($color-white, .3) 99%);
    // background-image: linear-gradient(to bottom, rgba($color-secondary, 1) 90%, rgba($color-tertairy-dark, .5));
    font-size: 1.6rem;
    background-color: $color-secondary;
    height: 100vh;
    text-align: center;
    position: relative;
    font-family: $font-family1;
    .logo {
        position: absolute;
        bottom: 0;
        left: 0;
        &__block {
            position: absolute;
            top: 0;
            text-align: center !important;
            left: 0;
            right: 0;
            background-color: #fff;
            color: $color-secondary;
            box-shadow: 0 2px 8px -1px $color-secondary;
            &--name {
                font-size: 3.5rem;
            }
        }
        &__pic {
            width: 10rem;
            height: 7rem;
            display: block;
            margin: 0 auto;
        }
    }
}

section.main {
    grid-column: 2;
    position: relative;
    // background-image: linear-gradient(to bottom, rgba($color-black, .2) 80%, rgba(#000, .9)), url('../../img/blaise-1-test.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

section.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    width: 100%;
    height: 7rem;
    // background-image: linear-gradient(to right, $color-white, $color-primary 40%);
}