*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: [full-start] minmax(8rem, 3fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] [full-end];
}