.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    height: 100vh;
    width: 100vw;
    &__row {
        grid-column: 5/ span 3;
    }
    &__login {
        display: flex;
        flex-direction: column;
    }
}