.render-link {
    width: 50rem;
    height: 100vh;
    max-height: 100vh;
    padding: 4rem;
    padding-top: 4rem;
    font-size: 1.7rem;
    letter-spacing: .5px;
    background-color: #c87272;
    color: #fff;
    padding-top: 5rem;
    font-family: $font-family2;
    text-align: center;
}