.service {
    &__list {
        height: 70vh;
        overflow-y: scroll;
        margin-right: -3.8rem;
    }
    &__item {
        display: grid;
        grid-template-columns: 1fr 32rem;
        grid-template-rows: 14rem;
        grid-gap: 1rem;
        align-items: start;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
    }
    &__icon {
        grid-column: 1;
        fill: $color-white;
        width: 100px;
        height: 100px;
        padding-top: 1rem;
    }
    &__legend {
        grid-column: 2/-1;
        p {
            height: 10rem;
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 2rem;
        }
    }
}