$color-white: #fff;
$color-primary: rgb(237, 74, 57);
$color-secondary: rgb(92, 57, 51);
$color-secondary-dark: rgb(92, 57, 51);
$font-family1: 'Merienda',
cursive;
$font-family2: 'Roboto',
sans-serif;
$color-tertairy-light: #e970631a;
$color-tertairy-dark: #98261b80;
$color-black: #000;